<%- include("partials/header") %>
    <h1>Expense List</h1>
    <% if (expenses.length > 0) { %>
      <ul>
        <% expenses.forEach((expense) => { %>
          <li>
            <div class="container">
            <h3><%= expense.title %></h3>
            <h4> <%= expense.amount %>$</h4>
            <p> <%= expense.description %></p>
          </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No expenses found.</p>
    <% } %>
    <%- include("partials/footer") %>

























