
<%- include("partials/header"); -%>


    <h1 class="heading"><%=title%></h1>
    <h3 class="amount"> <%=amount%></h3>
    <p class="description"><%=description%></p>



<%- include("partials/footer"); -%>
